<ion-menu contentId="main-content" type="overlay">
  <ion-content>
    <ion-list id="inbox-list">
      <ion-item>
        <div class="menu-header">
          <ion-icon
            slot="start"
            color="primary"
            [ios]="'shield-half-outline'"
            [md]="'shield-half-sharp'"
            class="logo"
          ></ion-icon>
          <div>
            <ion-list-header>I Got You</ion-list-header>
            <ion-note><i>office@igotyou.com</i></ion-note>
          </div>
        </div>
      </ion-item>
      <ion-menu-toggle
        auto-hide="false"
        *ngFor="let page of appPages; let i = index"
      >
        <ion-item
          routerDirection="root"
          [routerLink]="[page.url]"
          lines="none"
          detail="false"
          routerLinkActive="selected"
          (click)="updatePageTitle(page.title)"
        >
          <ion-icon
            slot="start"
            [ios]="page.icon + '-outline'"
            [md]="page.icon + '-sharp'"
          ></ion-icon>
          <ion-label>{{ page.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
