@import '../confirmation-modal/confirmation-modal.component.scss';

.modal-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2em;

  ion-button {
    width: 49%;
  }
}
