<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-content>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{ this.message }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="modal-actions">
            <ion-button
              color="secondary"
              fill="outline"
              (click)="closeModal()"
            >
              No
              <ion-icon
                slot="end"
                [ios]="'close-outline'"
                [md]="'close-sharp'"
              ></ion-icon>
            </ion-button>
            <ion-button color="primary" (click)="confirmAction()">
              Yes
              <ion-icon
                slot="end"
                [ios]="'checkmark-outline'"
                [md]="'checkmark-sharp'"
              ></ion-icon>
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>
